/* 1 Bloc */
.head_h1{
    text-align: center;
    font-size: 48px;
}

.h1_item{
    color: #0BBBD3;
}

.Sobor{
    background-image: url('../img/Успенський\ собор\ 1.jpg');
    width: 1440px;
    height: 852px;

}

.flag{
    background-image: url('../img/flag.png');
    background-repeat: no-repeat;
    color: white;
    padding-top: 248px;
    padding-left: 163px;
    font-size: 64px;
    background-position-x: 80px;
    background-position-y: 218px;
    line-height: 167.02%;
}

/* 2 Bloc */
.h2_item{
    font-size: 48px;
    border-bottom: 5px solid #33B8F1;
    width: 332px;
}

.card{
    display: flex;
}

.card_item{
    width: 400px;
    height: 480px;
    box-shadow: 1px 10px 15px #595050;
    border-radius: 30px 30px 10px 10px;
    margin:142px auto 50px auto;
}




.card_h1{
    font-size: 36px;
}

.card_text{
    font-size: 32px;
}

/* 3 Bloc */

.h3_item{
    font-size: 48px;
    border-bottom: 5px solid #33B8F1;
    width: 473px;
    margin: auto;

}
.img_item{
    text-align: center;
}
.botem{
    margin: 0px auto;
    font-size: 48px;
    background-color: #33ADF1;
    width: 430px;
    height: 74px;
    color: white;
}

/* foot */

.foot{
    background-color: #0A2DA9 ;
}

.foot_h4{
    text-align: center;
    font-size: 64px;
}

.links{
    text-align: center;
}

.links_item{
    text-decoration: none;
    color: #353949;
    font-size: 32px;
}

.media{
    display: flex;
}

.media_item{
    background-color: #0931BF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px auto;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;

}

