html {
    font-size: 10px;
    --font-PS: 'Public Sans', sans-serif;
    min-width: 700px;
    max-width: 1000px;
    
}

section{
    padding: 6rem 4.5rem;
    background-color: #E5E5E5;
}

h1{
    font-size: 2.8rem;
    font-weight: 700;
    font-family: var(--font-SG);
    margin-bottom: 8rem;
}

.metka{
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--font-SG);
}

.metka span{
    color: red;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--font-SG);
}

label{
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--font-SG);
}

label>span{
    color: red;
}

.conteiner {
    display: flex;
    justify-content: space-between;
}

.conteiner>div{
    width: 48%;
}

input{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ADADAD;
    height: 40px;
    font-family: var(--font-PS);
    font-size: 1.6rem;
    font-weight: 400;
}

input[type="checkbox"] {
    width: 5%;
    height: 21.45px;
}

.btn{
    display: flex;
    justify-content: end;
}

button {
    background-color: #0050D8;
    padding: .5rem 1rem;
    color: white;
    font-family: var(--font-PS);
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

#ESD{
    margin-bottom: 3rem;
}

#AR{
    color: blue;
}

select{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ADADAD;
    background-color: white;
    height: 40px;
}

.strelka{
    background-image: url(../img/strelka.svg);
    background-position: 99% ;
    background-repeat: no-repeat;
}

.lypa{
    background-image: url(../img/lypa.svg);
    background-position: 99%;
    background-repeat: no-repeat;
}