body{
    background-color: #DCDCDC;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* !--head--*/
.head{
    background-color: #202846;
    display: flex;
    height: 90px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.head_item{
    display: flex;
    align-items: center;
    
}

.li_item{
    list-style-type: none;
    color: #FFFFFF;
    margin: 0px 20px;
    font-size: 24px;
    min-width: 150px;
}

.logo{
    padding-left:  130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li > a{
    text-decoration: none;
    color: #FFFFFF;
}

.language{
    margin: 10px 20px 10px 0px;
}

/* !--Будинок--*/
.h1_item{
    margin-top: 100px;
    background-color: #C6C6DC; 
    color: #202846; 
    font-size: 48px;
    padding-left: 220px;
    font-style: italic;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

.spisok{
    background-color: #E8E8E8;
    display: flex;
    width: 80%;
    margin: 50px 200px;
    justify-content: flex-end ;

}

.spisock_item{
    margin: 0px auto;
    font-size: 28px;
}

    /*Карточки*/

.cart_bild{
    background-color: #BDBDC6;
    width: 80%;
    margin: 30px auto;
    min-width: 1200px;
    display: flex;
}

.cart{
    display: flex;
    justify-content: space-around;

}

.cart_item{
    padding-top: 20px;
    padding-bottom: 20px;

}

.one{
    padding-left: 90px;
    padding-right: 100px;
}

.h2_item{
    color: #353C57;
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 15px;
    font-size: 36px;
    font-style: italic;
}

.content{
    background: #D7D7DD;
    font-size: 22px;
    color: #202846;
    height: 75%;
    text-align: center;
    align-items: center;
    display: flex;
}


.zvezda{

}

.botom_item{
    text-decoration: none;
    background-color: #202846;
    padding: 21px 60px;
    border-radius: 35px;
    position: absolute;
    margin-top: 210px;
    margin-left: 75%;

}

/*Подсвечивание карты*/

.cart_bild:hover {
    background-color: #AEAEE2;
    transition: all .5s;
}

.cart_bild:hover .botom_item {
    background-color: #EF075B;
    
}

.cart_bild:hover .zvezda{
    
}

.zvezda:hover path{
    fill: #FFFF00;
}
/* !--Кабинет--*/
.cart_cabinet{
    background-color: #BDBDC6;
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;

}

.avatar{

}

.botom_cabinet{
    padding: 16px 27px ;
    border-radius: 35px;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
}

.botom_one{
    margin-top: 40px;
    background-color: #69749B;
}

.botom_two{
    margin-top: 20px;
    background-color: #484A54;
}

.botom_end{
    background-color: #202846;
    margin: 40px auto;
    width: 5%;
}

.ul_content{

}

.li_content{
    font-size: 36px;
    font-style: italic;
    list-style-type: none;
    color: #353C57;
    margin: 15px 0px;
}

.li_border{
    color: #FFFFFF;
    
}


/* !--Контакти--*/

.contact{
    width: 60%;
    display: flex;
    margin: 0px auto;
    
    
}

.contact_item{
    margin: 30px auto;
    width: 250px;
}



/*--foot--*/
footer{
    background-color: #202846;
    color: #EEECF1;
    height: 70px;
    font-size: 36px;
    padding-top: 20px;
    padding-left: 60px;
    font-style: italic;
}

