html {
    font-size: 8px;
    --grey: #CCCCCC;    
    --font-SG: 'Space Grotesk', sans-serif;
    background: linear-gradient(135deg, #3e718e , #64969b );
    background-repeat: no-repeat;
    background-size: 100%;
}

main{
    width: 55%;    
    display: flex;
    margin: auto;
}

.conteiner{
    margin: 0rem 11rem;
    margin-top: 6rem;
}

    /*Form*/

.form_bloc{
    background-color: white;
    padding: 4rem 5rem;
    width: 100%;
    flex-shrink: 1;
}

.form_title{
    font-size: 2.4rem;
    font-family: var(--font-SG);
    font-weight: 700;
    color: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    
}

.form_h1{
    font-size: 2.4rem;
    font-family: var(--font-SG);
    font-weight: 700;
    margin-bottom: 6rem;
}

label span{
    color: var(--grey);
}

.form_text{
    font-size: 1.6rem;
    font-family: var(--font-SG);
    font-weight: 400;
    color: black;
}

input::placeholder{
    color: var(--grey);
    font-size: 1.4rem;
    font-family: var(--font-SG);
    font-weight: 400;
}

p{
    font-size: 1.2rem;
    font-family: var(--font-SG);
    font-weight: 400;
    color: var(--grey);
    margin: 2rem 0rem;
}

input{
    width: 100%;
    border: 1px solid var(--grey);
    border-radius: 3px;
    padding: .8rem;
    font-size: 1.4rem;
    font-family: var(--font-SG);
    font-weight: 400;
}

select{
    color: var(--grey);
    background-color: white;
    width: 103%;
    border: 1px solid var(--grey);
    padding: .3rem;
    border-radius: 3px;
    font-size: 1.4rem;
    font-family: var(--font-SG);
    font-weight: 400;
}

option{
    color: black;
}

.btn{
    color: white;
    background-color: #284A5E;
    border: 1px solid #284A5E;
    padding: 1rem;
    border-radius: 4px;
    
}

.login{
    font-size: 1.6rem;
    font-family: var(--font-SG);
    font-weight: 700;
    color: var(--grey);
    text-align: center;
    margin-top: 2rem;
}

.login a{
    color: #476D73;
}
/*Content*/

.content{
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    padding: 4rem ;
    flex-shrink: 2;
}

.spisok{
    display: flex;
    justify-content: end;
}

.spisok_item{
    list-style-type: none;
    color: white;
    font-size: 1.6rem;
    font-family: var(--font-SG);
    font-weight: 400;
    margin: 0rem 1rem;
}

.content_text{
    font-size: 6.4rem;
    font-family: var(--font-SG);
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 5px 3px 0px gray;
    margin: 28rem 0rem;
}

.content_text span {
    font-size: 2.4rem;
    text-shadow: none;
}

